body {
  background: #BBD8E8 url(../img/documents-bg-1100w.png) no-repeat 10% 140px; 
  font-size: 16px;
}
h2 { color: #053E5F; }

/* -- NavBar -- */
.navbar.crud-navbar,
.navbar-inverse.crud-navbar {
  background-color: #075C8F;
}
.navbar-brand, 
.navbar-nav > li > a {
  /*text-shadow: none;*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .90);
  color: #A5CBE1;
}
.navbar a.navbar-brand:hover, 
.navbar-nav > li > a:hover {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .80);
}
.navbar-nav > li > a.dropdown-toggle:hover {
  background-color: #348ABC;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background-color: #BBD8E8;
    border-color: #337ab7;
    color: #06527F;
    text-shadow: none;
}
.nav .open > a:hover { color: #fff; }
.dropdown-menu {
  background-color: #BBD8E8;
}
.dropdown-menu > li > a {
  color: #06527F;
}
.nav ul.dropdown-menu > li.ng-scope > a.ng-binding:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .90);
  background-color: #1E7DB5;
  background-image: none;
}

/* -- home page -- */
.home-intro-welcome {
  background-color: rgba(256, 256, 256, .80);
  margin-right: 50px;
}
.jumbotron {
  background-color: rgba(254, 235, 162, .90);
}
.jumbotron h1 {
  color: #06527F;
}
.jumbotron h1 > small {
  color: #575757;
}

.form-group.form-createCatalogItem {
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px;
}
#your-catalog-list > .list-group {
    border: none;
    box-shadow: none;
}

.list-group-item.catalog-list-link {
  /*border-radius: 6px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .70);*/
  margin: 0 0px 12px;
  border: #ccc 1px solid;
  height: 150px;
}

#catalogForm label.control-label {
  margin-top: 12px;
}

.catalog-image-upload {
  padding: 0;
}

.image-details {
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, .50);
  border: #ccc 1px solid;
  min-height: 200px;
}
/*.catalog-image-upload span.btn-file input[type=file] {
}*/


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 2.5rem 1.5rem;
  background-color: #efefef;
  border-top:#ccc 1px solid;
}