<section ng-controller="HomeController">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Crudaloguer</h11>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">A Full-Stack Solution for Filing Your Life</p>
        </div>
      </div>
      <div class="row">
        <p><a class="btn btn-primary btn-lg" href="#">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Catalogue Your Stuff!</h2>
        <p>At that time it was quite clear in my own mind that the Thing had come from the planet Mars, but I judged it improbable that it contained any living creature. I thought the unscrewing might be automatic. In spite of Ogilvy, I still believed that there were men in Mars. My mind ran fancifully on the possibilities of its containing manuscript, on the difficulties in translation that might arise, whether we should find coins and models in it, and so forth. Yet it was a little too large for assurance on this idea.</p>
      </div>
    </div>
  </div>

  <footer>
    <p class="small">&copy; 2017 Shew</p>
  </footer>
</section>
