<section>
  <div class="page-header">
    <h1>{{vm.catalog._id ? 'Edit Catalog' : 'New Catalogue Item'}}</h1>
  </div>
  <div class="col-md-12">
    <form id="catalogForm" name="vm.form.catalogForm" class="form-horizontal" ng-submit="vm.save(vm.form.catalogForm.$valid)" novalidate>
      <fieldset>
        <div class="col-md-6">
          <div class="form-group form-createCatalogItem" show-errors>
            <!--Name-->
            <label class="control-label" for="name">Name</label>
            <input name="name" type="text" ng-model="vm.catalog.name" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.catalogForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Name is required.</p>
            </div>
            <!--Description-->
            <label class="control-label" for="description">Description</label>
            <textarea name="description" type="text" ng-model="vm.catalog.description" id="description" class="form-control" placeholder="Description" required></textarea>
            <!-- <div text-angular ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['insertLink', 'undo'],['charcount']]" id="description" name="description" data-ng-model="vm.catalog.description">
            </div> -->          
            <div ng-messages="vm.form.catalogForm.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Description is required.</p>
            </div> 

            <!--Category-->
            <label class="control-label" for="category">Category</label>
            <select class="form-control" ng-model="vm.catalog.category">
              <option value="" selected=""><span class="text-muted">Select a Category</span></option>
              <option value="Appliances">Appliances</option>
              <option value="Electronics">Electronics</option>
              <option value="General Household">General Household</option>
              <option value="Collector Items &amp; Hobbies">Collector Items &amp; Hobbies</option>
              <option value="Clothing">Clothing</option>
              <option value="Jewelry">Jewelry</option>
              <option value="Sports Equipment">Sports Equipment</option>
              <option value="Tools">Tools</option>
              <option value="Miscellaneous">Miscellaneous</option>
            </select>

            <div class="col-md-12 item-image-upload">

              <div class="form-group text-center">
                <img ng-src="{{imageURL}}" alt="" class="img-thumbnail user-profile-picture">
              </div>
              <div class="text-center form-group" ng-hide="uploader.queue.length">
                <span class="btn btn-default btn-file">
                    Select Image <input type="file" nv-file-select uploader="uploader">
                </span>
              </div>
              <div class="text-center form-group" ng-show="uploader.queue.length">
                <button class="btn btn-primary" ng-click="uploadCatalogPicture();">Upload</button>
                <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
              </div>
              <div ng-show="success" class="text-center text-success">
                <strong>Image Successfully Uploaded</strong>
              </div>
              <div ng-show="error" class="text-center text-danger">
                <strong ng-bind="error"></strong>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-createCatalogItem" show-errors>    
            <!--Manufacturer-->
            <label class="control-label" for="serialnumber">Manufacturer</label>
            <input name="manufacturer" type="text" ng-model="vm.catalog.manufacturer" id="manufacturer" class="form-control" placeholder="Manufacturer">
             <!--Model-->
            <label class="control-label" for="modelnumber">Model <small class="text-muted">(or model number)</label>
            <input name="modelnumber" type="text" ng-model="vm.catalog.modelnumber" id="modelnumber" class="form-control" placeholder="Model Number">         
            <!--S/N-->
            <label class="control-label" for="serialnumber">Serial Number</label>
            <input name="serialnumber" type="text" ng-model="vm.catalog.serialnumber" id="serialnumber" class="form-control" placeholder="Serial Number">

            <div class="row">
              <div class="col-md-6">
                <!-- Purchase Date -->
                <label class="control-label" for="purchaseDate">Date Puchased</label>
                <!-- <datepicker ng-model="vm.catalog.purchaseDate" id="purchaseDate" show-weeks="false" class="well well-sm"></datepicker> --> 
                <!-- <input type="date" name="purchaseDate" ng-model="vm.catalog.purchaseDate" id="purchaseDate" class="form-control" placeholder="mm/dd/yyy"> -->
                <!-- <md-datepicker ng-model="vm.catalog.purchaseDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker> -->
                <!-- <input time="false" date="true" mdc-datetime-picker="" type="text" id="purchaseDate" placeholder="Date" ng-model="vm.catalog.purchaseDate" min-date="minDate" max-date="maxDate" class="form-control"> -->
                <input type="date" name="purchaseDate" ng-model="vm.catalog.purchaseDate" id="datepicker" class="form-control" format="dd/MM/yyyy" placeholder="mm/dd/yyy">
              </div>
              <div class="col-md-6">
                <!-- Purchase Price / Value -->
                <label class="control-label" for="itemValue">Value <small class="text-muted">(or purchase price)</small></label>
                <input name="itemValue" type="number" step="0.01" ng-model="vm.catalog.itemValue" id="itemValue" class="form-control" placeholder="$0.00">
              </div>
            </div>

          </div>
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">{{vm.catalog._id ? 'Update' : 'Create'}}</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-default btn-sm" type="reset" value="reset">Clear All</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>


